{% extends '../_base.html' %}

{% block title %}
Shiftbid
{% endblock title %}

{% block content %}
<h1 class="text-center">Shiftbid Homepage</h1>
<!-- FORM TO SUBMIT NEW SHIFTBID -->
<div class="container">
    <a href="{% url 'shiftbid_create' %}" class="btn btn-primary">Create</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Shiftbid Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for shiftbid in object_list %}
        <tr>
            <th scope="row">{{ shiftbid.shiftbid_name }}</th>
            <td>{{ shiftbid.date_created }}</td>
            <td>{{ shiftbid.shift_status }}</td>
            <td><a href="{% url 'shiftbid_display' pk=shiftbid.pk %}" class="btn btn-secondary">View</a></td>
            <!-- Need to use form -->
            {% if shiftbid.shift_status != 's' %}
            <form action={% url 'shiftbid_delete' pk=shiftbid.pk %} method="post">
                {% csrf_token %}
                <td>
                    <button type="submit" class="btn btn-danger">DELETE
                    </button>
                </td>
            </form>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}